# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Libraries in Data Science.
- Create a markdown cell with a table of Data Science tools.
- Arithmetic expressions in Python.
- Share your notebook through GitHub.

Some of the popular languages that Data Scientists use are:
    
1. Python
2. R
3. Scala
4. Julia
5. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Panda 
2. Numpy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author

Rama